@font-face {
    font-family: "NanumSquare";
    font-weight: 400;
    src: url(../font/NanumSquareEB.eot);
    src: url(../font/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(../font/NanumSquareR.woff) format("woff");
}

body {
    margin: 0;
    font-family: "NanumSquare";
}

div,
input,
textarea {
    box-sizing: border-box;
}

p {
    transform: rotate(0.03deg);
}

/* Logo & Menu Bar */

.logo-menu {
    margin: auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-img {
    width: 20%;
    min-width: 200px;
}

.menu-box {
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: coral;
    padding: 0.5rem 0.7rem;
    border-radius: 20px;
}

/* Main Image */

.main-background {
    width: 100%;
    height: 500px;
    max-width: 1500px;
    background-image: url(../images/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;
    padding-top: 150px;
    margin: auto;
    position: relative;
}

.main-comments {
    text-align: center;
    color: white;
}

.main-comments h3 {
    font-size: 3rem;
}

.main-comments p {
    font-size: 1.2rem;
}

.buy-button {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-position {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    margin: auto;
    width: 180px;
}

/* Main Introduction */

.main-intro {
    background-color: rgb(240, 215, 184);
    width: 80%;
    max-width: 600px;
    padding: 10px 25px;
    margin: auto;
    margin-top: -30px;
    text-align: center;
    position: relative;
    border-radius: 10px;
}

/* Feature Boxes */

.main-features {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    margin-top: 70px;
}

.main-feature-box {
    margin-top: 20px;
    padding: 20px;
    float: left;
    width: 25%;
}

.main-feature-box i {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgb(207, 176, 117);
    padding-top: 27px;
    color: white;
}

/* Selling Product */

.grey-background {
    background: #f6f6f6;
    padding-top: 10px;
    padding-bottom: 90px;
    margin-top: 100px;
}

.product-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 90px;
}

.product-item {
    float: left;
    width: 33.3%;
    padding: 15px;
}

.product-item img {
    width: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.5s;
}

.overlay:hover {
    opacity: 1;
}

.overlay p {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
}

.wrap-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.black-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
    top: 100%;
    transition: all 0.5s;
}

.black-overlay span {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.wrap-overlay:hover .black-overlay {
    top: 50%;
}

/* Contact Form */

.form-background {
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-top: 150px;
    background-color: rgb(141, 141, 141);
    padding: 20px;
    color: white;
    border-radius: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}

.form-full-length {
    padding: 10px;
}

.form-half-length {
    padding: 10px;
    width: 50%;
    float: left;
}

.form-checkbox {
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.form-subscribe {
    font-size: 1rem;
    cursor: pointer;
}

.form-submit {
    width: 120px;
    padding: 10px;
    border: none;
    color: white;
    background-color: rgb(241, 147, 110);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
}

/* viewport width adjustment */
@media screen and (max-width: 992px) {
    .main-comments h3 {
        font-size: 2rem;
    }

    .main-feature-box {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .main-feature-box {
        width: 100%;
    }
}
